.principal-header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}

.header-left h1 {
    font-size: 1.3rem;
    font-style: italic;
}

.header-rigth ul {
    display: flex;
    gap: 55px;
}

.header-rigth ul a {
    display: inline-block;
    padding: 2px 4px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    font-weight: bold;
}

.header-rigth ul a:hover {
    border-bottom: 2px solid #000;
}

.intro {
    height: 100vh;
    min-height: 500px;
    background-image: url("../images/intro-fondo.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-article {
    width: 50%;
    color: #fff;
}

.intro-article h1 {
    font-size: 2.5rem;
    text-align: center;
}

.intro-article p {
    margin: 25px 0;
    text-wrap: balance;
    text-align: center;
}

.intro-buttonCage {
    display: flex;
    justify-content: center;
}

.buttonSpecial {
    font-size: 0.9rem;
    background: #fff ;
    padding: 10px 20px;
    color: #000;
    border-radius: 5px;
    transition: color 0.2s ease, background 0.2s ease;
    cursor: pointer;
}

.buttonSpecial:hover {
    color: #fff;
    background: #343434;
}

.cards {
    margin: 80px 0;
}

.subtitle {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 50px;
}

.cards-cage {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 25px;
}

.oneCard {
    flex-basis: 250px;
}

.oneCard h6 {
    text-align: center;
    font-size: 1.2rem;
}

.oneCard p {
    text-align: center;
    font-size: 1rem;
    opacity: 90%;
}

.oneCard img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.info {
    padding: 40px 20px;
    background: #ddd;
}

.info h2 {
    margin-bottom: 30px;
}

.info-cage {
    display: flex;
    background: #fff;
    min-height: 400px;
}

.info-left {
    width: 50%;
    background-image: url("https://images.unsplash.com/photo-1534438327276-14e5300c3a48?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
}

.info-rigth {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}

.info-rigth h5 {
    font-size: 1.2rem;
}

.info-rigth .buttonSpecial {
    background: #343434;
    color: #fff;
}

.info-rigth .buttonSpecial:hover {
    background: #fff;
    color: #343434;
}